flows.json
[
    {
        "id": "95db9fa31f42994c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f58c762016a5f956",
        "type": "mqtt in",
        "z": "95db9fa31f42994c",
        "name": "",
        "topic": "MySkill/Temp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "1dafc80d27a4e094",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 540,
        "wires": [
            [
                "832ad81c36c256dc",
                "908963cb40c558f3",
                "11d11612e360e44e"
            ]
        ]
    },
    {
        "id": "832ad81c36c256dc",
        "type": "ui_gauge",
        "z": "95db9fa31f42994c",
        "name": "",
        "group": "5012e65e053abf23",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Suhu",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 520,
        "wires": []
    },
    {
        "id": "908963cb40c558f3",
        "type": "ui_chart",
        "z": "95db9fa31f42994c",
        "name": "",
        "group": "5012e65e053abf23",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Suhu",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 590,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "683d486249f691f5",
        "type": "mqtt in",
        "z": "95db9fa31f42994c",
        "name": "",
        "topic": "MySkill/Humi",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "1dafc80d27a4e094",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 260,
        "wires": [
            [
                "a1622d6ca7576c66",
                "6e5e4683eabd8d20",
                "11d11612e360e44e"
            ]
        ]
    },
    {
        "id": "a1622d6ca7576c66",
        "type": "ui_gauge",
        "z": "95db9fa31f42994c",
        "name": "",
        "group": "f505cb17a68e0511",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Kelembaban",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "6e5e4683eabd8d20",
        "type": "ui_chart",
        "z": "95db9fa31f42994c",
        "name": "",
        "group": "f505cb17a68e0511",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Kelembaban",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 610,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "11d11612e360e44e",
        "type": "debug",
        "z": "95db9fa31f42994c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 400,
        "wires": []
    },
    {
        "id": "1dafc80d27a4e094",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5012e65e053abf23",
        "type": "ui_group",
        "name": "Suhu",
        "tab": "838779ad99a78633",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "f505cb17a68e0511",
        "type": "ui_group",
        "name": "Kelembaban",
        "tab": "838779ad99a78633",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "838779ad99a78633",
        "type": "ui_tab",
        "name": "DHT22 Dashboard by Muhammad Ridho Assidiqi",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]